html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container-fluid{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
    
.landing{
    background-image:  url(../images/h_img.jpg);
    background-position: center;
    background-size: cover;
    background-image: no-repeat;
    text-align: center;
    height: 650px;
}
.content{
    color: white;
    
}
.content >img, .h1{
    margin-top: 300px;
}
.welcome{
    margin-top: 10px;
    margin-bottom: 15px;
}
.amazing{
    font-size: small;
}
/*-----about us section*/
#about {
    padding: 10% 5%;
    text-align: center;
}

/*services*/
.service{
    background-image: url(../images/s_image.jpg);
    text-align: center;
    color: white;
    background-position: center;  
    background-color: rgba(0,0,0,0.2);
    padding: 10% 10%;
     
}


/*what we do section*/
.products{
    margin: 5% 5%;
    text-align: center;
}


/*portfolio section*/
#portfolio{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
}

.col-md-3{
    position: relative;

}

.box{
    position: absolute;
    background-color: white;
    padding: 15% 10%;
    bottom: 20%;
    font-size: 30px;
    opacity: 0.4;
    display: none;
    font-family: 'Gabriela';
}


/*contact us section*/
.contact{
    background-image: url(../images/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    padding: 30px;
    margin-top: 50px;
}
.contact >h1{
    text-align: center;
    color: black;
}
.contactform{
    display: flex;
    justify-content: center;
    padding: 10%;

}

.forminput{
    background: transparent;
}
.inputmessage{
    background: transparent;
}
#message{
    width: 100%;
  border: 1px solid #ccc;
  background: transparent;
  margin: 0 0 5px;
  padding: 10px;
}

    


/*social media*/
.social-media{
    margin-top: 10px;
    margin-bottom: 10px;
}



